<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from karlomikus.com/saltkin/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Apr 2016 14:51:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saltkin &dash; Responsive Admin &amp; Dashboard UI Template</title>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic%7cMontserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Icons -->
    <link href="~/css/typicons.min.css" rel="stylesheet" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- iCheck - Custom radio/check input -->
    <link href="~/css/icheck/minimal.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Footable plugin -->
    <link href="~/css/plugins.min.css" rel="stylesheet" />
    <!-- Template -->
    <link href="~/css/main.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="js/plugins/shiv.min.js"></script>
      <script src="js/plugins/respond.min.js"></script>
      <script src="js/plugins/excanvas.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Page container -->
    <div class="page-container">
        <!-- Sidebar -->
        <@Html.Partial("_Sidebar");
        <!-- /Sidebar -->
        <!-- Content -->
        <div id="content">
            <!-- Header -->
            @Html.Partial("_Header");
            <!-- /Header -->
            <!-- Content start -->
            @RenderBody()
        </div>
        <!-- /Content -->
    </div>
    <!-- /Page container -->
    <!-- PLUGINS ALL -->
    <script src="~/dist/plugins/jquery.min.js"></script>

    <script src="~/dist/plugins/modernizr.min.js"></script>
    <!-- Bootstrap core -->
    <script src="~/dist/plugins/bootstrap.min.js"></script>
    <!-- Custom scrollbar -->
    <script src="~/dist/plugins/enscroll.min.js"></script>
    <!-- Dynamic tables -->
    <script src="~/dist/plugins/footable.min.js"></script>
    <!-- Knob / Donut charts -->
    <script src="~/dist/plugins/knob.min.js"></script>
    <!-- Rickshaw graphs & charts -->
    <script src="~/dist/plugins/sparkline.min.js"></script>
    <script src="~/dist/plugins/rickshaw/d3.v3.js"></script>
    <script src="~/dist/plugins/rickshaw/rickshaw.min.js"></script>
    <!-- Flot -->
    <script src="~/dist/plugins/flot.min.js"></script>
    <!-- Custom checkboxes and radio input -->
    <script src="~/dist/plugins/icheck.min.js"></script>
    <!-- Page specific -->
    <script src="~/dist/page-dashboard.js"></script>
    <!-- Site -->
    <script src="~/dist/main.js"></script>
</body>

<!-- Mirrored from karlomikus.com/saltkin/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Apr 2016 14:51:58 GMT -->
</html>